Repository benjambles/my-own-world: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --ext .js,.ts

Minor CSS improvements
  apps/website/src/layouts/components/auth-button/auth-button.ts
  apps/website/src/layouts/components/user-menu.ts
  apps/website/src/layouts/core/site.styles.ts
  apps/website/src/routes/resources/roster/pages/roster.styles.ts
  apps/website/src/routes/resources/tools/tools.styles.ts
  apps/website/src/routes/resources/tools/tools.ts
  packages/ui/src/components/fixed-header/fixed-header.ts
Due: prettier --write, eslint --fix --ext .js,.ts

Provide game data to frontend
  apps/api/src/resources/skirmishes/config.ts
  apps/api/src/resources/skirmishes/skirmishes.ts
  apps/website/src/routes/resources/roster/components/apis/game-api.ts
  apps/website/src/routes/resources/roster/components/apis/skirmish-api.ts
  apps/website/src/routes/resources/roster/components/create-skirmish.ts
  apps/website/src/routes/resources/roster/components/edit-skirmish.ts
  apps/website/src/routes/resources/roster/components/skirmish-list.ts
  apps/website/src/routes/resources/roster/components/with-game.ts
  apps/website/src/routes/resources/roster/config.ts
  apps/website/src/routes/resources/roster/index.ts
  apps/website/src/routes/resources/roster/pages/create.ts
  apps/website/src/routes/resources/roster/pages/edit.ts
  apps/website/src/routes/resources/roster/pages/list.ts
  apps/website/src/routes/resources/roster/roster.bundle.ts
  packages/ui/src/components/form-elements/text-input/text-input.ts
Due: prettier --write, eslint --fix --ext .js,.ts

Ensure footer is always at or below the viewport bottom
  apps/website/src/layouts/core/site.styles.ts
Due: prettier --write, eslint --fix --ext .js,.ts

Pull close button outside the panel in MowDialog
  packages/ui/src/components/mow-dialog/mow-dialog.ts
Due: prettier --write, eslint --fix --ext .js,.ts

Standardise custom event names
  apps/website/src/layouts/components/auth-button/auth-button.ts
  apps/website/src/layouts/components/login-form.ts
  apps/website/src/layouts/components/user-menu.ts
  apps/website/src/layouts/components/with-user/with-user.ts
  apps/website/src/layouts/core/site.ts
  apps/website/src/routes/resources/roster/components/skirmish-list.ts
  apps/website/src/routes/resources/roster/pages/list.ts
  apps/website/src/routes/user/account/account-form.ts
  apps/website/src/routes/user/join/join-form.ts
  packages/ui/src/components/form-elements/text-input/text-input.ts
  packages/ui/src/components/menu-profile/menu-profile.ts
  packages/ui/src/components/mow-action/mow-action.ts
  packages/ui/src/components/mow-details/mow-details.ts
  packages/ui/src/components/mow-dialog/mow-dialog.stories.ts
  packages/ui/src/components/mow-dialog/mow-dialog.ts
  packages/ui/src/components/mow-pagination/mow-pagination.ts
  packages/ui/src/components/view-lock/view-lock.ts
Due: prettier --write, eslint --fix --ext .js,.ts

Switch to displaying updated date on skirmish list
  apps/website/src/routes/resources/roster/components/skirmish-list.ts
  apps/website/src/routes/resources/roster/pages/list.ts
Due: prettier --write, eslint --fix --ext .js,.ts

correct icon color for datepickers
  packages/ui/src/components/form-elements/text-input/text-input.ts
Due: prettier --write, eslint --fix --ext .js,.ts

Add extra resets to site styles
  apps/website/src/layouts/core/site.styles.ts
  packages/ui/src/global-css/utils/constants.css
Due: prettier --write, eslint --fix --ext .js,.ts

Use paths exported from route configs
  apps/website/src/layouts/core/site.ts
  apps/website/src/routes/public/home/home.ts
  apps/website/src/routes/rules/config.ts
  apps/website/src/routes/rules/quick-start/quick-start.ts
Due: prettier --write, eslint --fix --ext .js,.ts

Update URL builder to use Regex
  packages/shared-server/src/utils/__tests__/arrays.test.ts
  packages/shared-server/src/utils/__tests__/fetch.test.ts
  packages/shared-server/src/utils/arrays.ts
  packages/shared-server/src/utils/fetch.ts
Due: prettier --write, eslint --fix --ext .js,.ts

Update Lit to 3.0.x
  apps/website/package.json
  apps/website/rollup.config.mjs
  apps/website/src/layouts/components/auth-button/auth-button.ts
  apps/website/src/layouts/components/login-form.ts
  apps/website/src/layouts/components/user-menu.ts
  apps/website/src/layouts/components/with-user/user.ts
  apps/website/src/layouts/components/with-user/with-user.ts
  apps/website/src/routes/resources/roster/components/apis/game-api.ts
  apps/website/src/routes/resources/roster/components/create-skirmish.ts
  apps/website/src/routes/resources/roster/components/edit-skirmish.ts
  apps/website/src/routes/resources/roster/components/skirmish-list.ts
  apps/website/src/routes/resources/roster/components/with-game.ts
  apps/website/src/routes/user/account/account-form.ts
  apps/website/src/routes/user/join/join-form.ts
  package-lock.json
  packages/shared-server/package.json
  packages/shared-server/src/utils/routes/responses.ts
  packages/ui/package.json
  packages/ui/src/components/filter-bar/filter-bar.ts
  packages/ui/src/components/form-elements/glow-button/glow-button.ts
  packages/ui/src/components/form-elements/glow-button/glow-link.ts
  packages/ui/src/components/game-components/dice-callout/dice-check.ts
  packages/ui/src/components/mega-menu/labelled-list.ts
  packages/ui/src/components/menu-profile/menu-profile.ts
  packages/ui/src/components/mow-action/mow-action.ts
  packages/ui/src/components/mow-details/mow-details.ts
  packages/ui/src/components/mow-dialog/mow-dialog.ts
  packages/ui/src/components/mow-pagination/mow-pagination.ts
  packages/ui/src/components/section-header/section-header.ts
  packages/ui/src/components/view-lock/view-lock.ts
  packages/ui/src/components/with-api/with-api.ts
  packages/ui/src/contexts/request.ts
  tsconfig-base.json
Due: prettier --write, eslint --fix --ext .js,.ts

Update glow styles
  apps/website/src/routes/resources/roster/components/create-skirmish.ts
  apps/website/src/routes/resources/roster/components/edit-skirmish.ts
  apps/website/src/routes/user/account/account-form.ts
  packages/ui/src/components/form-elements/glow-button/glow-button.ts
  packages/ui/src/components/form-elements/glow-button/glow-link.ts
Due: prettier --write, eslint --fix --ext .js,.ts

Enable terser for compiled code
  apps/website/package.json
  apps/website/rollup.config.mjs
Due: none

Shared error template prop type
  apps/website/src/routes/errors/400.ts
  apps/website/src/routes/errors/403.ts
  apps/website/src/routes/errors/404.ts
  apps/website/src/routes/errors/500.ts
  apps/website/src/routes/errors/errors.ts
Due: prettier --write, eslint --fix --ext .js,.ts

Stop returning top level arrays in APIs
  apps/api/src/resources/games/config.ts
  apps/api/src/resources/games/index.ts
  apps/api/src/resources/users/config.ts
  apps/api/src/resources/users/index.ts
  apps/website/src/routes/resources/roster/index.ts
Due: prettier --write, eslint --fix --ext .js,.ts

Update dev deps
  .husky/pre-commit
  .vscode/config-snippets.code-snippets
  Dockerfile
  apps/api/package.json
  apps/website/package.json
  package-lock.json
  package.json
  packages/lib/package.json
  packages/rise-engine/package.json
  packages/shared-server/package.json
  packages/shared-server/src/utils/data/index.ts
  packages/skirmish-engine/package.json
  packages/ui/package.json
Due: prettier --write, eslint --fix --ext .js,.ts

Update core deps
  apps/api/package.json
  apps/website/package.json
  apps/website/src/layouts/components/with-user/with-user.ts
  package-lock.json
  packages/shared-server/package.json
  packages/ui/package.json
Due: prettier --write, eslint --fix --ext .js,.ts

Update storybook
  package-lock.json
  packages/ui/.babelrc.json
  packages/ui/.eslintignore
  packages/ui/.eslintrc.json
  packages/ui/.storybook/main.ts
  packages/ui/package.json
Due: none

Package updates
  apps/api/package.json
  apps/website/package.json
  package-lock.json
  package.json
  packages/lib/package.json
  packages/rise-engine/package.json
  packages/shared-server/package.json
  packages/skirmish-engine/package.json
  packages/ui/package.json
Due: none

Update pagination component
  packages/ui/src/components/mow-pagination/mow-pagination.stories.ts
  packages/ui/src/components/mow-pagination/mow-pagination.ts
Due: prettier --write, eslint --fix --ext .js,.ts

Update pagination logic
  packages/ui/src/components/mow-pagination/mow-pagination.stories.ts
  packages/ui/src/components/mow-pagination/mow-pagination.ts
Due: prettier --write, eslint --fix --ext .js,.ts

Setup base templates for game pages
  apps/website/src/routes/public/home/home.ts
  apps/website/src/routes/resources/roster/components/skirmish-list.ts
  apps/website/src/routes/resources/roster/index.ts
  apps/website/src/routes/resources/roster/pages/create.ts
  apps/website/src/routes/resources/roster/pages/edit.ts
  apps/website/src/routes/rules/components/rules-header.ts
  apps/website/src/routes/rules/components/rules-nav.ts
  apps/website/src/routes/rules/index.ts
  apps/website/src/routes/rules/pages/campaigns/campaigns.styles.ts
  apps/website/src/routes/rules/pages/campaigns/campaigns.ts
  apps/website/src/routes/rules/pages/operatives/operatives.styles.ts
  apps/website/src/routes/rules/pages/operatives/operatives.ts
  apps/website/src/routes/rules/pages/quick-start/quick-start.styles.ts
  apps/website/src/routes/rules/pages/quick-start/quick-start.ts
  apps/website/src/routes/rules/pages/rules/rules.styles.ts
  apps/website/src/routes/rules/pages/rules/rules.ts
  apps/website/src/routes/rules/pages/skirmishes/skirmishes.styles.ts
  apps/website/src/routes/rules/pages/skirmishes/skirmishes.ts
  apps/website/src/routes/rules/pages/turn-order/turn-order.styles.ts
  apps/website/src/routes/rules/pages/turn-order/turn-order.ts
  apps/website/src/routes/rules/quick-start/quick-start.styles.ts
Due: prettier --write, eslint --fix --ext .js,.ts

Commit postcss removal package-lock
  package-lock.json
Due: none

fix build commands
  packages/shared-server/src/utils/web-rendering/render-template.ts
  packages/ui/package.json
Due: prettier --write, eslint --fix --ext .js,.ts

Add base missions endpoints
  .vscode/config-snippets.code-snippets
  apps/api/src/data/bind-models.ts
  apps/api/src/resources/games/config.ts
  apps/api/src/resources/games/data/archetypes.ts
  apps/api/src/resources/games/data/games.ts
  apps/api/src/resources/games/data/missions.ts
  apps/api/src/resources/games/data/npcs.ts
  apps/api/src/resources/games/index.ts
Due: prettier --write, eslint --fix --ext .js,.ts

Update to typescript 5.4.5
  apps/api/package.json
  apps/website/package.json
  package-lock.json
  package.json
  packages/lib/package.json
  packages/rise-engine/package.json
  packages/shared-server/package.json
  packages/skirmish-engine/package.json
  packages/ui/package.json
Due: none

Config cleanup in prep for ts 5.5
  .gitignore
  .vscode/settings.json
  apps/api/tsconfig.json
  apps/website/tsconfig.json
  packages/lib/tsconfig.json
  packages/rise-engine/tsconfig.json
  packages/shared-server/tsconfig.json
  packages/skirmish-engine/tsconfig.json
  packages/ui/src/components/form-elements/text-input/text-input.css
  packages/ui/tsconfig.json
Due: prettier --write

Update node to v22
  Dockerfile
  apps/api/Dockerfile
  apps/website/Dockerfile
  docker-compose.yml
Due: none

Fix lint issues
  apps/api/src/app.ts
  apps/api/src/data/bind-models.ts
  apps/api/src/resources/games/config.ts
  apps/api/src/resources/games/data/missions.ts
  apps/api/src/resources/games/data/npcs.ts
  apps/api/src/resources/service/service.ts
  apps/website/src/layouts/components/with-user/with-user.ts
  apps/website/src/layouts/core/site.ts
  apps/website/src/routes/resources/roster/components/create-skirmish.ts
  apps/website/src/routes/resources/roster/components/edit-skirmish.ts
  apps/website/src/routes/rules/components/rules-header.ts
  packages/lib/src/arrays/concat.ts
  packages/lib/src/index.ts
  packages/lib/src/objects/props.ts
  packages/lib/src/validators/strings.ts
  packages/rise-engine/src/types/game/actions.ts
  packages/rise-engine/src/types/game/hero.ts
  packages/rise-engine/src/types/game/items.ts
  packages/shared-server/src/index.ts
  packages/shared-server/src/koa/get-middleware.ts
  packages/shared-server/src/koa/middleware/errors/api-error-handler.ts
  packages/shared-server/src/koa/middleware/errors/web-error-handler.ts
  packages/shared-server/src/typings/koa-bodyparser/index.d.ts
  packages/shared-server/src/utils/data/index.ts
  packages/shared-server/src/utils/env.ts
  packages/shared-server/src/utils/joi/context/context.ts
  packages/shared-server/src/utils/routes/get-client-handlers.ts
  packages/shared-server/src/utils/security/jwt.ts
  packages/skirmish-engine/src/team/character/character.ts
  packages/skirmish-engine/src/team/relationships/favours.ts
  packages/ui/.storybook/main.ts
  packages/ui/src/components/form-elements/text-input/text-input.stories.ts
  packages/ui/src/components/mow-pagination/mow-pagination.stories.ts
  packages/ui/src/components/mow-pagination/mow-pagination.ts
  packages/ui/src/contexts/request.ts
  packages/ui/src/utils/events.ts
Due: prettier --write, eslint --fix --ext .js,.ts

Update Eslint and other packages
  apps/api/.eslintrc.json
  apps/api/eslint.config.js
  apps/api/nodemon.json
  apps/api/package.json
  apps/website/.eslintrc.json
  apps/website/eslint.config.js
  apps/website/package.json
  eslint.config.js
  package-lock.json
  package.json
  packages/lib/.eslintrc.json
  packages/lib/eslint.config.js
  packages/lib/package.json
  packages/rise-engine/.eslintrc.json
  packages/rise-engine/eslint.config.js
  packages/rise-engine/package.json
  packages/shared-server/.eslintrc.json
  packages/shared-server/eslint.config.js
  packages/shared-server/package.json
  packages/skirmish-engine/.eslintrc.json
  packages/skirmish-engine/eslint.config.js
  packages/skirmish-engine/package.json
  packages/ui/.eslintignore
  packages/ui/.eslintrc.json
  packages/ui/eslint.config.js
  packages/ui/package.json
Due: none

package updates
  apps/api/package.json
  apps/website/package.json
  package-lock.json
  package.json
  packages/lib/package.json
  packages/rise-engine/package.json
  packages/shared-server/jest.config.ts
  packages/shared-server/package.json
  packages/skirmish-engine/package.json
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.ts
  packages/ui/jest.config.ts
  packages/ui/package.json
Due: none

Fix import
  apps/api/src/resources/users/index.ts
  apps/website/src/app.ts
Due: prettier --write, eslint --fix --ext .js,.ts

temporarily remove tests
  apps/api/Dockerfile
  apps/api/jest.config.ts
  apps/api/package.json
  apps/website/Dockerfile
  apps/website/jest.config.ts
  apps/website/package.json
  jest.config.ts
  package-lock.json
  package.json
  packages/lib/jest.config.ts
  packages/lib/package.json
  packages/lib/src/objects/__tests__/props.test.ts
  packages/rise-engine/jest.config.ts
  packages/rise-engine/package.json
  packages/rise-engine/src/actions/__tests__/use-action.test.ts
  packages/rise-engine/src/actors/__tests__/hero.test.ts
  packages/shared-server/jest.config.ts
  packages/shared-server/package.json
  packages/shared-server/src/utils/__tests__/errors.test.ts
  packages/shared-server/src/utils/access-checks/__tests__/is-user.test.ts
  packages/shared-server/src/utils/routes/__tests__/get-access-map.test.ts
  packages/skirmish-engine/jest.config.ts
  packages/skirmish-engine/package.json
  packages/ui/jest.config.ts
  packages/ui/package.json
  packages/ui/src/templates/links/link.test.ts
Due: prettier --write, eslint --fix --ext .js,.ts

Upgrade to storybook 9 beta
  package-lock.json
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.ts
  packages/ui/package.json
  packages/ui/src/components/filter-bar/filter-bar.stories.ts
  packages/ui/src/components/fixed-header/fixed-header.stories.ts
  packages/ui/src/components/form-elements/glow-button/glow-button.stories.ts
  packages/ui/src/components/form-elements/text-area/text-area.stories.ts
  packages/ui/src/components/form-elements/text-area/text-area.ts
  packages/ui/src/components/form-elements/text-input/text-input.stories.ts
  packages/ui/src/components/form-elements/text-input/text-input.ts
  packages/ui/src/components/game-components/dice-callout/dice-check.stories.ts
  packages/ui/src/components/game-components/unit-cards/unit-card.stories.ts
  packages/ui/src/components/mega-menu/labelled-list.ts
  packages/ui/src/components/mega-menu/mega-menu.stories.ts
  packages/ui/src/components/menu-profile/menu-profile.ts
  packages/ui/src/components/mow-dialog/mow-dialog.stories.ts
  packages/ui/src/components/mow-pagination/mow-pagination.stories.ts
  packages/ui/src/components/mow-pagination/mow-pagination.ts
  packages/ui/src/components/section-header/section-header.stories.ts
  packages/ui/src/components/site-footer/site-footer.stories.ts
  packages/ui/src/components/skip-links/skip-links.stories.ts
Due: prettier --write, eslint --fix --ext .js,.ts

Linting cleanup
  apps/website/src/routes/public/terms/terms.ts
  apps/website/src/routes/resources/roster/components/edit-skirmish.ts
  packages/shared-server/src/utils/fetch.ts
  packages/ui/src/components/view-lock/view-lock.ts
  packages/ui/src/components/with-api/with-api.ts
  packages/ui/src/contexts/request.ts
Due: prettier --write, eslint --fix --ext .js,.ts

Update vulnerable packages
  apps/api/package.json
  apps/website/package.json
  package-lock.json
  packages/shared-server/package.json
  packages/ui/package.json
Due: none

switch from nodemon to pm2
  .vscode/settings.json
  Dockerfile
  README.md
  apps/api/Dockerfile
  apps/api/ecosystem.config.cjs
  apps/api/nodemon.json
  apps/website/Dockerfile
  apps/website/ecosystem.config.cjs
  apps/website/nodemon.json
  docker-compose.yml
Due: none

User API fixes
  apps/api/src/resources/users/config.ts
  apps/api/src/resources/users/data/identifiers.ts
  apps/api/src/resources/users/data/users.ts
  apps/website/src/layouts/components/with-user/user.ts
  apps/website/src/layouts/components/with-user/with-user.ts
  apps/website/src/routes/user/account/account-form.ts
  apps/website/src/routes/user/join/join-form.ts
Due: prettier --write, eslint --fix --ext .js,.ts

Component style fixes and link-list
  packages/ui/src/components/fixed-header/fixed-header.ts
  packages/ui/src/components/link-list/link-list.stories.ts
  packages/ui/src/components/link-list/link-list.ts
  packages/ui/src/components/mega-menu/labelled-list.ts
Due: prettier --write, eslint --fix --ext .js,.ts

Path conditions:
  prettier --write: ((any of: {apps,packages}/*/src/**/*.{js,ts}) or (any of: {apps,packages}/*/src/**/*.css)) or (any of: {apps,packages}/*/src/**/*.json)
  eslint --fix --ext .js,.ts: any of: {apps,packages}/*/src/**/*.{js,ts}
