Repository benjambles/my-own-world: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --fix

.lintstagedrc:

{
    "src/**/*.{js,ts}": [
        "prettier --write .",
        "eslint --fix"
    ],
    "src/**/*.json": [
        "prettier --write ."
    ]
}

Change prettier config
  .prettierrc
Due: none

Add prettier ignore
  .prettierignore
Due: none

Prettier cleanup - website
  src/website/config/index.ts
  src/website/index.ts
  src/website/jest.config.js
  src/website/routes/account/register.ts
  src/website/routes/index.ts
Due: prettier --write ., eslint --fix

Fix test errors
  src/api/utils/compares/tests/is-admin.test.ts
  src/api/utils/compares/tests/is-user.test.ts
  src/api/utils/middleware/tests/get-access-checker.test.ts
  src/api/utils/middleware/tests/set-access-roles.test.ts
  src/api/utils/routes/tests/bind-options.test.ts
  src/api/utils/routes/tests/send.test.ts
  src/api/utils/security/tests/get-access-map.test.ts
  src/api/utils/security/tests/get-authenticated-user-id.test.ts
Due: prettier --write ., eslint --fix

Configure PostCSS
  package-lock.json
  package.json
  src/website/gulpfile.js
  src/website/nodemon.json
  src/website/static/styles/base.css
  src/website/static/styles/components/footer.css
  src/website/static/styles/components/header.css
Due: prettier --write ., eslint --fix

Add base styles to pages
  src/website/components/core/footer.ts
  src/website/components/core/footer/footer.ts
  src/website/components/core/header.ts
  src/website/components/core/header/header.ts
  src/website/components/core/links/nav-link.ts
  src/website/components/pages/layout.ts
  src/website/index.ts
  src/website/routes/account/register.ts
Due: prettier --write ., eslint --fix

Add PostCSS to lintstaged
  .lintstagedrc
Due: none

Add storybook config
  .storybook/main.js
  package-lock.json
  package.json
  src/website/static/mock-data.ts
  src/website/tsconfig.json
Due: prettier --write ., eslint --fix

Footer component
  src/website/components/core/footer/footer.stories.ts
  src/website/components/core/footer/footer.ts
  src/website/static/styles/components/footer.css
Due: prettier --write ., eslint --fix

Add base layout
  src/website/components/core/header/header.stories.ts
  src/website/components/core/header/header.ts
  src/website/components/pages/layout.ts
  src/website/static/styles/components/header.css
  src/website/typings/templates.ts
  src/website/utils/lazy-stylesheet.ts
Due: prettier --write ., eslint --fix

Add home templates
  src/website/components/core/home/home-intro.ts
  src/website/components/core/home/home.stories.ts
  src/website/components/core/links/link-list.ts
  src/website/components/core/links/links.stories.ts
  src/website/components/core/links/nav-link.test.ts
  src/website/components/core/links/nav-link.ts
  src/website/components/core/user/menu-profile.ts
  src/website/components/pages/public/home.ts
  src/website/components/pages/public/terms.ts
  src/website/static/styles/base.css
  src/website/static/styles/components/home/explore-module.css
  src/website/static/styles/components/home/home-intro.css
  src/website/static/styles/components/menu-profile.css
  src/website/static/styles/utils/reset.css
  src/website/static/styles/utils/typography.css
Due: prettier --write ., eslint --fix

Add new routes
  src/website/routes/homepage/index.ts
  src/website/routes/index.ts
  src/website/routes/terms/terms.ts
Due: prettier --write ., eslint --fix

Fix link component
  package-lock.json
  package.json
  src/website/components/core/footer/footer.ts
  src/website/components/core/header/header.ts
  src/website/components/core/home/home-intro.ts
  src/website/components/core/links/link-list.ts
  src/website/components/core/links/link.test.ts
  src/website/components/core/links/link.ts
  src/website/components/core/links/links.stories.ts
  src/website/components/core/links/nav-link.ts
  src/website/components/core/user/menu-profile.ts
  src/website/static/styles/components/footer.css
  src/website/static/styles/components/header.css
  src/website/static/styles/components/home/home-intro.css
  src/website/static/styles/components/menu-profile.css
  src/website/static/styles/utils/links.css
  src/website/static/styles/utils/tests.css
  src/website/static/styles/utils/typography.css
Due: prettier --write ., eslint --fix

Update dropdown menu
  src/website/components/core/header/header.stories.ts
  src/website/components/core/header/header.ts
  src/website/components/core/user/menu-profile.ts
  src/website/static/mock-data.ts
  src/website/static/styles/components/home/home-intro.css
  src/website/static/styles/components/menu-profile.css
  src/website/static/styles/utils/links.css
  src/website/static/styles/utils/reset.css
  src/website/static/styles/utils/typography.css
Due: prettier --write ., eslint --fix

Configure storybook addons
  .storybook/main.js
  package-lock.json
  package.json
Due: none

Refactor link component
  src/website/components/core/header/header.stories.ts
  src/website/components/core/header/header.ts
  src/website/components/core/home/home-intro.ts
  src/website/components/core/links/link.ts
  src/website/components/core/links/links.stories.ts
  src/website/components/core/user/menu-profile.ts
  src/website/static/mock-data.ts
  src/website/static/styles/components/header.css
  src/website/static/styles/components/home/home-intro.css
  src/website/static/styles/utils/links.css
  src/website/static/styles/utils/reset.css
  src/website/static/styles/utils/tests.css
  src/website/static/styles/utils/typography.css
Due: prettier --write ., eslint --fix

Minor improvement to view-code component
  src/website/components/core/links/links.stories.ts
  src/website/static/styles/components/menu-profile.css
  src/website/static/styles/utils/tests.css
Due: prettier --write ., eslint --fix

Use Standard build dir name
  .gitignore
  .lintstagedrc
  .prettierignore
  package.json
  src/api/tsconfig.json
  src/website/tsconfig.json
Due: prettier --write .

Refactor rendering context types
  src/website/components/core/buttons/primary-button.ts
  src/website/components/core/footer/footer.stories.ts
  src/website/components/core/footer/footer.ts
  src/website/components/core/form-elements/input-box.ts
  src/website/components/core/header/header.stories.ts
  src/website/components/core/header/header.ts
  src/website/components/core/home/home-intro.ts
  src/website/components/core/home/home.stories.ts
  src/website/components/core/links/link.ts
  src/website/components/core/links/links.stories.ts
  src/website/components/core/user/menu-profile.ts
  src/website/components/pages/layout.ts
  src/website/components/pages/public/home.ts
  src/website/components/pages/public/terms.ts
  src/website/routes/account/register-route.ts
  src/website/routes/account/register.ts
  src/website/routes/homepage/home-route.ts
  src/website/routes/homepage/index.ts
  src/website/routes/index.ts
  src/website/routes/terms/terms-route.ts
  src/website/routes/terms/terms.ts
  src/website/typings/templates.ts
  src/website/utils/client-context.ts
  src/website/utils/lazy-stylesheet.ts
  src/website/utils/server-context.ts
Due: prettier --write ., eslint --fix

Add renderer typings
  src/website/components/core/footer/footer.ts
  src/website/components/core/form-elements/input-box.ts
  src/website/components/core/header/header.ts
  src/website/components/core/home/home-intro.ts
  src/website/components/core/user/menu-profile.ts
  src/website/components/pages/layout.ts
  src/website/components/pages/public/home.ts
  src/website/components/utils/lazy-stylesheet.ts
  src/website/routes/account/register-route.ts
  src/website/routes/homepage/home-route.ts
  src/website/routes/index.ts
  src/website/routes/terms/terms-route.ts
  src/website/utils/client-context.ts
  src/website/utils/server-context.ts
Due: prettier --write ., eslint --fix

Make home-intro component responsive
  package.json
  src/website/static/styles/components/home/home-intro.css
  src/website/static/styles/components/menu-profile.css
Due: none

Add storybook addons
  package-lock.json
  package.json
  website/.storybook/main.js
  website/.storybook/preview.js
  website/tsconfig.json
Due: none

Add buttons and refactor stories
  website/src/components/core/buttons/destructive-button.stories.ts
  website/src/components/core/buttons/destructive-button.ts
  website/src/components/core/buttons/outline-button.stories.ts
  website/src/components/core/buttons/outline-button.ts
  website/src/components/core/buttons/primary-button.stories.ts
  website/src/components/core/buttons/secondary-button.stories.ts
  website/src/components/core/buttons/secondary-button.ts
  website/src/components/core/buttons/text-button.stories.ts
  website/src/components/core/buttons/text-button.ts
  website/src/components/core/footer/footer.stories.ts
  website/src/components/core/footer/footer.ts
  website/src/components/core/form-elements/input-box.ts
  website/src/components/core/header/header.stories.ts
  website/src/components/core/header/header.ts
  website/src/components/core/home/home.stories.ts
  website/src/components/core/links/bar-link.stories.ts
  website/src/components/core/links/bar-link.ts
  website/src/components/core/links/dark-link.ts
  website/src/components/core/links/dark-links.stories.ts
  website/src/components/core/links/link.ts
  website/src/components/core/user/menu-profile.ts
  website/src/static/mock-data.ts
  website/src/static/styles/components/home/home-intro.css
  website/src/static/styles/utils/buttons.css
  website/src/static/styles/utils/links.css
  website/src/static/styles/utils/tests.css
  website/src/static/styles/utils/typography.css
  website/src/utils/story-renderer.ts
Due: none

Switch to generic interfaces for TPL and Route definitions
  website/src/components/core/bestiary/characteristics-list/characteristics-list.ts
  website/src/components/core/bestiary/grid/grid.ts
  website/src/components/core/bestiary/npc-card.ts
  website/src/components/core/bestiary/stats-block/stats-block.ts
  website/src/components/core/bestiary/turn-order/turn-order.ts
  website/src/components/core/buttons/destructive-button.ts
  website/src/components/core/buttons/outline-button.ts
  website/src/components/core/buttons/primary-button.ts
  website/src/components/core/buttons/secondary-button.ts
  website/src/components/core/buttons/text-button.ts
  website/src/components/core/footer/footer.ts
  website/src/components/core/form-elements/input-box.ts
  website/src/components/core/header/header.ts
  website/src/components/core/home/home-intro.ts
  website/src/components/core/links/bar-link.ts
  website/src/components/core/links/dark-link.ts
  website/src/components/core/links/link.ts
  website/src/components/core/user/menu-profile.ts
  website/src/components/pages/layout.ts
  website/src/components/pages/public/home.ts
  website/src/components/pages/public/terms.ts
  website/src/components/utils/lazy-stylesheet.ts
  website/src/routes/account/register-route.ts
  website/src/routes/homepage/home-route.ts
  website/src/routes/index.ts
  website/src/routes/terms/terms-route.ts
  website/src/utils/templates/client-context.ts
  website/src/utils/templates/lit-route.ts
  website/src/utils/templates/lit-tpl.ts
  website/src/utils/templates/server-context.ts
Due: none

Remove .css.json files from project
  .gitignore
  package-lock.json
  package.json
  website/src/components/core/bestiary/actions-table/actions-table.css.json
  website/src/components/core/bestiary/characteristics-list/characteristics-list.css.json
  website/src/components/core/bestiary/grid/grid.css.json
  website/src/components/core/bestiary/npc-card.css.json
  website/src/components/core/bestiary/stats-block/stats-block.css.json
  website/src/components/core/bestiary/turn-order/turn-order.css.json
  website/src/components/core/footer/footer.css.json
  website/src/components/core/header/header.css.json
  website/src/components/core/home/home-intro.css.json
  website/src/components/core/user/menu-profile.css.json
  website/src/components/global-css/base.css.json
  website/src/components/global-css/utils/buttons.css.json
  website/src/components/global-css/utils/constants.css.json
  website/src/components/global-css/utils/links.css.json
  website/src/components/global-css/utils/reset.css.json
  website/src/components/global-css/utils/typography.css.json
  website/src/components/pages/public/explore-module.css.json
Due: none

Finish NPC card styles
  website/src/components/core/bestiary/grid/grid.css
  website/src/components/core/bestiary/grid/grid.ts
  website/src/components/core/bestiary/stats-block/stats-block.css
  website/src/components/core/bestiary/stats-block/stats-block.ts
  website/src/components/core/bestiary/turn-order/turn-order.css
  website/src/components/core/bestiary/turn-order/turn-order.ts
  website/src/components/global-css/utils/constants.css
Due: none

Update build process
  .lintstagedrc
  .prettierrc
  api/gulpfile.js
  api/tsconfig.json
  game-lib/.eslintrc.json
  game-lib/jest.config.js
  game-lib/src/__tests__/index.test.ts
  game-lib/src/index.ts
  game-lib/tsconfig.json
  package-lock.json
  package.json
  shared-server/.eslintrc.json
  shared-server/jest.config.js
  shared-server/src/koa/app.ts
  shared-server/tsconfig.json
  tsconfig-base.json
  tsconfig.json
  website/gulpfile.js
  website/jest.config.js
  website/postcss.config.js
  website/tsconfig.json
Due: none

Update deps
  .prettierrc
  package-lock.json
  package.json
  src/api/apply-middleware.ts
  src/api/bin/app.ts
  src/api/bin/get-middleware.ts
  src/api/routing/create-route.ts
  src/api/routing/spec-parsing/get-route-middleware.ts
  src/api/routing/spec-parsing/get-security-middleware.ts
  src/shared-server/koa/app.ts
  src/shared-server/koa/apply-middleware.ts
  src/ui/.storybook/main.js
  src/ui/.storybook/preview.js
  src/ui/components/core/buttons/destructive-button.stories.ts
  src/ui/components/core/buttons/outline-button.stories.ts
  src/ui/components/core/buttons/primary-button.stories.ts
  src/ui/components/core/buttons/secondary-button.stories.ts
  src/ui/components/core/buttons/text-button.stories.ts
  src/ui/components/core/footer/footer.stories.ts
  src/ui/components/core/header/header.stories.ts
  src/ui/components/core/links/bar-link.stories.ts
  src/ui/components/core/links/dark-link.stories.ts
  src/ui/components/core/links/link.stories.ts
  src/ui/components/game/bestiary/actions-table/actions-table.stories.ts
  src/ui/components/game/bestiary/characteristics-list/characterisitics-list.stories.ts
  src/ui/components/game/bestiary/characteristics-list/characteristics-list.css
  src/ui/components/game/bestiary/grid/grid.stories.ts
  src/ui/components/game/bestiary/npc-card.stories.ts
  src/ui/components/game/bestiary/stats-block/stats-block.stories.ts
  src/ui/components/game/bestiary/turn-order/turn-order.stories.ts
  src/ui/components/game/button/glow-button.stories.ts
  src/ui/components/game/character/hero-card/hero-card.stories.ts
  src/ui/components/global-css/utils/reset.css
  src/ui/components/pages/public/home/home.stories.ts
  src/ui/utils/storybook/story-renderer.ts
  src/website/apply-middleware.ts
  src/website/bin/app.ts
  src/website/bin/get-middleware.ts
Due: prettier --write ., eslint --fix

Update lintstaged config
  .lintstagedrc
Due: none

Refactor story render function
  src/ui/components/core/buttons/destructive-button.stories.ts
  src/ui/components/core/buttons/outline-button.stories.ts
  src/ui/components/core/buttons/primary-button.stories.ts
  src/ui/components/core/buttons/secondary-button.stories.ts
  src/ui/components/core/buttons/text-button.stories.ts
  src/ui/components/core/footer/footer.stories.ts
  src/ui/components/core/header/header.stories.ts
  src/ui/components/core/links/bar-link.stories.ts
  src/ui/components/core/links/dark-link.stories.ts
  src/ui/components/core/links/link.stories.ts
  src/ui/components/game/bestiary/actions-table/actions-table.stories.ts
  src/ui/components/game/bestiary/characteristics-list/characterisitics-list.stories.ts
  src/ui/components/game/bestiary/grid/grid.stories.ts
  src/ui/components/game/bestiary/npc-card.stories.ts
  src/ui/components/game/bestiary/stats-block/stats-block.stories.ts
  src/ui/components/game/bestiary/turn-order/turn-order.stories.ts
  src/ui/components/game/button/glow-button.stories.ts
  src/ui/components/game/character/hero-card/hero-card.stories.ts
  src/ui/components/pages/public/home/home.stories.ts
  src/ui/utils/storybook/story-renderer.ts
  src/ui/utils/templates/client-context.ts
  src/ui/utils/templates/lit-route.ts
  src/ui/utils/templates/lit-tpl.ts
  src/ui/utils/templates/server-context.ts
  src/website/routes/get-routes.ts
Due: prettier --write ., eslint --fix
